<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/product/layout :: header">
    <title>Chi tiết sản phẩm</title>
</head>
<body>
<h1>Chi tiết sản phẩm</h1>
<div>
    <h3 th:text="${product.name}"></h3>
    <p th:text="${product.description}"></p>
    <p th:text="${product.price}"></p>
    <img th:src="@{'/images/' + ${product.imgLink}}" alt="Ảnh sản phẩm">
</div>
<a href="/products">Quay lại danh sách sản phẩm</a>
<footer th:replace="/product/layout :: footer"></footer>
</body>
</html>
